@CHARSET "UTF-8";

#main {
	font-family: Helvetica, sans-serif; 
	background-color : #eee;
	margin: 30px, auto;
	border-radius: 5px;
	text-align: center;
	
	background-color: #eee;
}

#title {
	font-size: 25px;
}

#subtitle {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#img-div {
	margin: 10px;
	padding: 15px; 
	border-radius : 5px;
	background-color: grey;
	border-radius: 5px;
}

#image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
}
#img-caption{
	color: #eee;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul{
	text-align: left;
	display: inline-block;
}
blockquote {
	font-style: italic;
}